{% extends 'pages/base.html' %}

{% block content %}
<div class="container">
    <h2>{{ header_title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Usuario:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'register' %}"class="btn btn-link">¿No tienes cuenta? Regístrate</a>
    </form>
    {% if form.errors %}
        <ul style="color: red;">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}